body {
	/*font-family: 'Press Start 2P', cursive;*/
	font-family: 'Fira Mono', monospace;
	text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*body * {
	display: inline-block;
}
*/
.wrapper {
	margin: 0 20%;
	width: auto;
	height: auto;
	position: relative;
	/*background-color: green;*/
}

#game-notifications {
	/*opacity: 0.5;*/
	background: rgba(255, 255, 255, 0.8);
	font-weight: bolder;
	font-size: 3em;
	/*background-color: white;*/
	position: absolute;
	top: 40%;
	z-index: 50;
}


#dealer-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
}

/*#dealer-cards {
	height: 100%;
	width: auto;
}*/

#player-cards {
	position: relative;
	background-color: #15843f;
	height: 100px;
	width: 100%;
}

/*#player-cards {
	height: 100%;
	width: auto;
}*/

.cards {
	position: relative;
	display: inline-block;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	font-size: 6em;
	/*border: black solid 1px;*/
}

.suits {
	position: absolute;
	left: 2px;
	top: 0;
	font-size: 20px;
	/*text-align: justify;*/
	/*letter-spacing: 2em;*/
	/*width: 100%;*/
}

.suit-upper-left {
	position: absolute;
	top: 15px;
	left: 0;
}

.hidden {
	display: none;
}

.score-boards {
/*	margin-top: -20px;
	z-index: 11;*/
}

.contrast-card {
	position: absolute;
	height: 100px;
	width: 75px;
	left: 0px;
	opacity: .3;
	color: white;
	top: 0;
	/*clip: rect(0px,75px,100px,37px);*/
	clip: rect(0px,37.5px,100px,0px);
	z-index: 9;
}

#face-down-card {
	position: absolute;
	background-color: #390754;
	display: inline-block;
	margin-left: 90px;
	height: 100px;
	width: 75px;
	border-radius: 7px;
	z-index: 20;
}

#face-down-card {
/*	background:
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, #390754 20%, #390754 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#390754 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: slategray;
background-size:0px 0px, 3px 5px, 2px 2px, 2px 2px;*/


  /*background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);*/
  /*background-size: 25px 25px;*/
  


/*
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 150px 150px;*/

}